* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background-color: lightgray;
    overflow: auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-weight: bold;
}
header {
    background: white;
    border-bottom: 3px solid #ccc;
    margin-bottom: 30px;
}
header h1{
    background: #4aaaa5;
    color: white;
    display: inline-block;
    padding:30px;
    font-size: 30px;
}
nav{
    width: 350px;
    float: right;
    margin-top: 35px;
    text-align: center;

}
nav ul li{
    display: inline-block;
}
nav ul li a {
    color: #333;
    font-size: 18px;
    padding: 5px 15px;
    border-right: 2px solid #4aaaa5;
    text-decoration: none;   
}
nav ul li:last-child a{
    border-right:none;
    padding:none;
}
p{
    font-size:16px;
    line-height:20px;
    margin-bottom:20px;
}
.maincontent{
    clear:both;
    display: block;
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    float:center;
    color:#777777;
    background-color:white;
}
h2 {
    font-size:34px;
    color:#4aaaa5;
    padding: 15px 0;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
}
.wrapper{
    width: 960px;
    margin: 0 auto;
}
form label{
    font-size: 18px;
    display:block;
}
form input, text area {
    width:100%;
    display:block;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    padding:10px;
    font-size:16px;
}
textarea{
    width:100%;
    height: 300px;
}
button{
    background: #4aaaa5;
    color: #fff;
    float:center;
    text-align: center;
    padding: 20px 20px;
    font-size: 16px;
    font:bold;
    border:none;
}
.portfolio-item{
    position: relative;
    background-color: rgba(0,0,0,5);
    margin-bottom:20px;
    width:40%;
    height:250px;
}
.portfolio-item:nth-of-type(even){
    float:right;
}
.portfolio-item h4{
    background: #4aaaa5;
    color:#fff;
    text-align: center;
    padding: 15% 0;
    width:100%;
    position: absolute;
    bottom:20px;
}
.portfolio-item #port1{
    background: url("/assets/images/port1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#port2{
    background: url("/assets/images/port2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.footer {
    background-color: #777777;
    color:white;
    text-align: center;
    padding: 10px;
}
